{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <p class="date">
    Published {{ post.publish }} by {{ post.author }}
  </p>
  {{ post.body|linebreaks }}

  <a href="https://www.bookfinder.com/" title="BookFinder.com: New &amp; Used Books, Rare Books, Textbooks, Out of Print"><img border="0" src="https://d3uahvj51kpljk.cloudfront.net/images/site/title/sites/www.bookfinder.com.gif" alt="BookFinder.com" /></a>
{% endblock %}
